/****** MAIN PANEL *****/

.jfx-hamburger StackPane{
    -fx-pref-width:30;
    -fx-pref-height:5;
}
/***** WINDOW BAR */
.windowTopBar{
  -fx-background-color: #CBBBA8;
}
#boxUser{
-fx-border-style: solid;
 -fx-border-width:0 0 1 0;
  -fx-border-color:black;
}

/***** NAVIGATION BAR */
#navBar{
	-fx-background-color: #0F1515;
}
#mainStackPane{
-fx-background-image: url("mypos/img/pattern_background.jpg");
-fx-background-repeat: repeat;
    }
#imgCashRegister{
	-fx-background-image: url("/mypos/img/cash_register.svg");
	-fx-background-image: url("img/caja.png");
}

.navBarHeader{
  -fx-background-radius: 0.0px;
	-fx-background-color: #D1D3DB;
	-fx-font-size:17.0px;
}
.navBarHeader:disabled{
  -fx-opacity: 1.0 ;
}
.navBarButton{
	-fx-background-radius: 0.0px;
	-fx-background-color: #FFFFFF;
	-fx-font-size:15.0px;
	-fx-pref-height:50;
	-fx-border-color:#A9A9A9;
	-fx-border-width:0 0 1 0;
}
.navBarButton:hover {
	-fx-background-color:#DCDCDC;
}
#btnDashBoard{
	-fx-background-radius: 0.0px;
	-fx-background-color: #37606B;
}
#btnPos{
    -fx-pref-height:90;
}

#btnManagement{
	-fx-background-radius: 0.0px;
}
#sectionTpv{
	
}

#btnPreferences{
	
}

#btnMenu{
	-fx-background-image: url("mypos/img/menu.png");
	 -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-size:30px;
    }


/****** NUMPAD ******/
.numPadButtons{
    -fx-font-size: 20.0;
    -fx-border-color: grey;
    -fx-border-width: 1.0;
   -fx-border-style: solid;
   -fx-background-color: #CCE5FF;
}

#btnCanc{
-fx-background-image: url("img/canc.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size:30.0;
}

/** NEW PRODUCT**/
.labelsNewProduct{
    -fx-pref-width:70;
}
.fieldNewProduct{
    -fx-pref-width:150;
}


